body {
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
    top: 0;
    padding: 5px 0;
    background-color: #fff;
    z-index: 9999;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0px;
    padding: 5px 0;
}

.header li {
    padding: 7px 25px;
    cursor: pointer;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.header li:hover,
.active {
    color: red;
}

.title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
}

.heart-icon {
    padding: 10px 30px;
    width: 45px;
    z-index: 2;
    position: relative;
}

.hearts-underline {
    position: relative;
    display: inline-block;
}

.hearts-underline::before,
.hearts-underline::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 1px;
    background-color: #000;
    z-index: 1;
}

.hearts-underline::before {
    left: -30px;
}

.hearts-underline::after {
    right: -30px;
}

.countNumberWebkit {
    font-size: 3em;
    height: auto;
    background: #FFFFFF;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    background: linear-gradient( 156deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.react-multi-carousel-list {
    align-items: flex-start !important;
}

.react-multi-carousel-track {
    height: 100%;
}

.react-multi-carousel-item {
    height: 81%;
}

.custom-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #F1D8B9;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #F1D8B9;
}

.info-content {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-left: 5px solid #d10000 !important;
    border: 1px solid transparent;
    box-shadow: 0 0 20px 0px #cccccc87;
}

.meta b {
    color: purple;
    display: inline-block;
}

.meta a {
    color: purple;
    text-decoration: none;
    cursor: pointer;
}

.meta a:hover {
    text-decoration: underline;
}

.map-btn {
    background-color: #007bff;
    color: #fff !important;
    display: inline-block;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
}

.creadit-text {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient( 156deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 15px;
}

@media (max-width: 767px) {
    .title {
        font-size: 25px;
    }
    .info-content {
        padding: 1rem;
    }
    .creadit-text {
        font-size: 9px;
    }
    .header {
        position: fixed;
        width: 100%;
        box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
        bottom: 0;
        top: auto;
        padding: 5px 0;
        background-color: #fff;
        z-index: 9999;
    }
    .header li {
        padding: 2px 25px;
    }
    .header li a {
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 50%;
    }
    .header li a img {
        width: 20px;
    }
    .header li a.active {
        background-color: #d10000;
        transition: .5s all;
    }
    .active img {
        filter: brightness(0) invert(1);
    }
}